{% extends "base.html" %}
{% block header_bar_content %}
  <h1>Welcome!</h1>
{% endblock %}
{% block main %}
  <p class="big">You are applying to live at <span class="bold">{{ rental.unit.address }}</span> in <span class="bold">{{ rental.unit.city}}</span>. It is easy! Follow three simple steps:</p>
  <div class="prepend-1">
    <h3> Step 1: Login or register,</h3>
    <div class="completed"><h3> Step 2: Fill out the form,</h3></div>
    <ul><li><h4> After you've done one application, Leasely will fill out the rest for you!</h4></li></ul>
    <h3> Step 3: Hit submit and you're done!</h3>
  </div>
  <div class="clear" style="height: 20px"></div>
  {% include "registration/login_or_register_form.html" %}
{% endblock %}