{% extends "base.html" %}
{% block title %}
    {{ user_type|capfirst }} Registration - {{ block.super }}
{% endblock %}

{% block main %}
<div class="span-14">
  <form action="" method="post">{% csrf_token %}
    <section>
      <header>
        {% if user_type == "landlord" %}
          <h2>Landlord Registration</h2>
          <p>You are only a minute away from having your rental application online. Once you fill out the information below, we'll ask you about the place you're renting to create your application.</p>
          <p>Psst, tenants register <a href="{% url accounts_register_applicant %}">here</a>.</p>
        {% else %}
          <h2>Register as a Tenant</h2>
        {% endif %}
      </header>
      {% include "default_form.html" %}
      <input type="hidden" name="{{ redirect_field_name}}" value="{{ redirect }}" />
      <footer>
        <p>By registering you agree to the <a target="_blank" href="/about/terms-of-service/">terms of service</a>.</p>
        <div style="height: 5px"></div>
        <p><span class="button"><input type="submit" value="Create my account" class="register-button" /></span></p>
      </footer>
    </section>
  </form>
</div>
{% if user_type == "landlord" %}
  <div class="span-9 prepend-1 last">
    <h2 class="huge"><img src="{{ MEDIA_URL }}img/icons/Check_24x24.png" /> Leasely is quick and easy</h2>
    <p>Your account will be ready right away and is easy to set up. Your rental applications can be online two minutes from now.</p>
    <div class="span-5 prepend-2 append-2"><hr /></div>

    <h2 class="huge"><img src="{{ MEDIA_URL }}img/icons/Keys_24x24.png" /> Leasely is secure and reliable</h2>
    <p>Your data is backed up daily. We store it and transfer it securely.</p>
    <div class="span-5 prepend-2 append-2"><hr /></div>

    <h2 class="huge"><img src="{{ MEDIA_URL }}img/icons/Dollar_26x26.png" /> Leasely is free</h2>
    <p>We charge the applicants a small fee to cover the credit report and our costs, that's it.</p>
    <div class="span-5 prepend-2 append-2"><hr /></div>

    <h2 class="huge"><img src="{{ MEDIA_URL }}img/icons/Help_24x24.png" /> Need help?</h2>
    <p>Just <a href="mailto:support@leasely.com">drop us a line</a>. We'll get in touch quickly.</p>
    <p>You can also browse our <a href="/faq/">online help &amp; support</a>.</p>
    <p>Tenants, register <a href="{% url accounts_register_applicant %}">here</a>.</p>
  </div>
{% endif %}
{% endblock %}
