{% extends "base.html" %}
{% block title %}
  Change my password - {{ block.super }}
{% endblock %}

{% block main %}
<div class="span-14">
  <form action="" method="post">{% csrf_token %}
    <section>
      <header>
        <h2>Change my password</h2>
      </header>
      {% include "default_form.html" %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect }}" />
      <footer>
        <p><span class="button"><input type="submit" value="Change my password" /></span></p>
      </footer>
    </section>
  </form>
</div>
{% endblock %}
