    <div id="footer">
      <div class="container">
        <div class="span-24 last append-bottom">
          {% block footer %}
            <div class="span-8">
              <h3>Footer Content 1</h3>
              <p><a href="">Foo</a></p>
              <p><a href="">Bar</a></p>
              <p><a href="">Baz</a></p>
            </div>
            <div class="span-8">
              <h3>Footer Content 2</h3>
              <p><a href="">Foo</a></p>
              <p><a href="">Bar</a></p>
              <p><a href="">Baz</a></p>
            </div>
            <div class="span-8 last">
              <h3>Contact</h3>
              <p>email: <a href="">null@example.com</a></p>
              <p>phone: (800) 555-1212</p>
              <p>address: 311 S Wacker, Chicago IL 60614</p>
            </div>
          {% endblock %}
        </div>
      </div><!-- container -->
    </div><!-- footer -->

